/*=============================================
= Colors
=============================================*/

/**
 * Symbology:
 *
 * L = light
 * Lx = lighter
 * D = dark
 * Dx = darker
 */

$black:           #151313;
$red:             #f33;
$redL:            #f55f44;
$redLx:           #f55f44;
$gray:            #535461;
$grayL:           #858694;
$white:           #fff;
$primaryColor:    $red;
$primaryColorL:   $redL;
$baseFontSize:    21;
$medium:          1024;
$small:           767;
$extraSmall:      480;
