/**
 * Global styles. 💪
 *
 * Note: "styled-components" is being used in this site.
 * This file is ONLY for global styles (body, html and typography elements)
 * @ref: https://www.styled-components.com/docs
 */

// CSS Reset.
@import "normalize";
@import "variables";


/*=============================================
= Main Structure
=============================================*/

html {
	font-family: sans-serif;
	text-size-adjust: 100%;

	@media only screen and (max-width: 480px) {
		html {
			font-size: 100%;
		}
	}
}

body {
	background: $black;
	color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "kern", "liga", "clig", "calt";
	font-kerning: normal;
}

/*=============================================
= Typography
=============================================*/

a {
	color: inherit;
	-webkit-text-decoration-skip: objects;
}

// Headings h1-h6.
@for $h from 1 through 6 {
	h#{$h} {
		text-rendering: optimizeLegibility;
	}
}
